//
// 弹出框
// --------------------------------------------------
// 变量


.yy-dialog{
  &:extend(.yy-float-container);
  width: 300px;
}

.yy-dialog-header{
  &:extend(clearfix all);
  position: relative;
  height: 35px;
  padding: 5px 15px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #fafafa;
  .border-top-radius;
  font-weight: 700;

}

.yy-dialog-body{
  padding: @element-space;
}

//dialog-left and dialog-right
.yy-dialog-body-left{
  float: left;
  padding-right: 25px;border-right: 1px solid #ccc;
}
.yy-dialog-body-right{
  float: right;
}


//弹窗内部特定的一些结容器
.yy-dialog-grid{
  padding: 0 40px;
}

.yy-dialog-footer{
  padding:10px @element-space;
  border-top: 1px solid #e7e7e7;
  background-color: #fafafa;
  text-align: right;
  .border-bottom-radius;
}

.yy-dialog-slidedown{
  min-width: 230px;width:auto;
  .side-dialog-header{

  }

  .yy-dialog-body{
    padding: 0;
  }
}