//
// 侧边弹出框
// --------------------------------------------------

.side-dialog{
  position: absolute;
  top: @header-height;
  right: 0;
  bottom: 0;
  width: 700px;
  border-left: 1px solid #DFDFDF;
  background-color: #F9F9F9;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.05);
}

.side-dialog-header{
  padding: @element-space;
  border-bottom: 1px solid #DEDEDE;
  background-color: #F2F2F2;
}

.side-dialog-body{
  padding: @element-space;
  border-top: 1px solid #fff;
}